In [3]:
import os

path = 'lastfm-dataset-1K'

if not os.path.exists(path):

  !wget http://mtg.upf.edu/static/datasets/last.fm/lastfm-dataset-1K.tar.gz
  !tar -xvzf lastfm-dataset-1K.tar.gz

In [4]:
!ls

drive  lastfm-dataset-1K  lastfm-dataset-1K.tar.gz  sample_data

In [5]:
import os
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [6]:
!ls drive/MyDrive/data

feature_df_with_emb.csv  spotify_features.csv

In [7]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from io import StringIO
import numpy as np
from tqdm import tqdm
from sklearn.model_selection import train_test_split
from sklearn.metrics import roc_auc_score
import scipy.sparse as sp
import tensorflow as tf
from tqdm import tqdm
import pandas as pd
import numpy as np

from keras.utils.vis_utils import model_to_dot
from IPython.display import SVG
import matplotlib.pyplot as plt
import matplotlib
%matplotlib inline

import datetime
import time 
import math
import os
%config Completer.use_jedi = False

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:25: UserWarning: Config option `use_jedi` not recognized by `IPCompleter`.

In [8]:
path = "drive/MyDrive/data/feature_df_with_emb.csv"

feature_df_with_emb = pd.read_csv(path)

In [9]:
feature_df_with_emb.head()

   Unnamed: 0 artist  ...     emb_y     emb_z
0           0   坂本龍一  ...  4.894493  0.943493
1           1   坂本龍一  ...  4.894493  0.943493
2           2   坂本龍一  ...  4.894493  0.943493
3           3   坂本龍一  ...  4.894493  0.943493
4           4   坂本龍一  ...  4.894493  0.943493

[5 rows x 21 columns]

In [10]:
# Load the dataset
df = pd.read_table('lastfm-dataset-1K/userid-timestamp-artid-artname-traid-traname.tsv', lineterminator='\n', warn_bad_lines=True, names=['user', 'timestamp', 'artist-id', 'artist', 'song-id', 'song'])
df_profile = pd.read_csv('lastfm-dataset-1K/userid-profile.tsv', sep='\t', error_bad_lines=False, warn_bad_lines=True, skiprows=1, names=['user', 'gender', 'age', 'country', 'signup'])

In [11]:
# Check if some songs share a common ID
grouped = df[['song-id', 'song']].groupby(['song-id']).nunique()

In [12]:
# Get rows with song names containing multiple rows
duplicated = df.loc[df['song-id'].isin(grouped[grouped['song'] > 1].index)]
duplicated = duplicated.drop(columns=['user', 'timestamp', 'artist', 'artist-id'])
containis_extra_rows = duplicated.apply(lambda x: pd.Series({'id': x[0], 'song': x[1], 'flag':'\n' in x[1]}), axis=1)
containis_extra_rows = containis_extra_rows.loc[containis_extra_rows['flag']]

In [13]:
# Iterate over those 5k rows to get the extra rows and correct the song name
for index, row in containis_extra_rows.iterrows():
    row_break = row['song'].split('\n', 1)
    song_name = row_break[0]
    df.loc[df['song-id'] == row['id'], 'song'] = song_name
    
    tsv = StringIO(row_break[1])
    df_extra = pd.read_csv(tsv, sep="\t", warn_bad_lines=True, names=['user', 'timestamp', 'artist-id', 'artist', 'song-id', 'song'])
    df = df.append(df_extra, ignore_index=True)

### Fix names

In [14]:
# Check if some songs share a common ID
grouped = df[['song-id', 'song']].groupby(['song-id']).nunique()

In [15]:
# Check how many ids has more than 1 song name
grouped[grouped['song'] > 1].shape[0]

200

In [16]:
ids_to_be_fixed = grouped[grouped['song'] > 1].index

In [17]:
df = df.set_index('song-id')

In [18]:
map_to_fix = df.groupby(df.index)['song'].head(1)

In [19]:
df.loc[ids_to_be_fixed, 'song'] = df.loc[ids_to_be_fixed].reset_index()['song-id'].map(lambda x: map_to_fix[x])
df = df.reset_index()

### Create matrix

In [20]:
matrix_init = df.groupby(['user', 'artist', 'song']).count()

In [21]:
matrix_init = matrix_init['timestamp']

In [22]:
matrix_init = matrix_init.reset_index()

In [23]:
def rating_scaler(row):
    row_array = np.array(row)
    a, new_range= 1, 4
    min_, max_ = row_array.min(), row_array.max()
    old_range = max_ - min_
    
    
    scaled_row = (new_range * (row_array - min_)) / (old_range + 1e-6)  + a
    return pd.Series(scaled_row)

In [24]:
matrix_init_scaled = matrix_init.groupby('user')['timestamp'].apply(rating_scaler)

In [25]:
matrix_init['timestamp'] = matrix_init_scaled.reset_index()['timestamp']

In [26]:
feature_df_with_emb.head()

   Unnamed: 0 artist  ...     emb_y     emb_z
0           0   坂本龍一  ...  4.894493  0.943493
1           1   坂本龍一  ...  4.894493  0.943493
2           2   坂本龍一  ...  4.894493  0.943493
3           3   坂本龍一  ...  4.894493  0.943493
4           4   坂本龍一  ...  4.894493  0.943493

[5 rows x 21 columns]

### Merge data

In [27]:
matrix_init = matrix_init.rename({'timestamp':'rating', 'song':'track'}, axis=1)

In [28]:
matrix_extended = matrix_init.merge(feature_df_with_emb, on=['artist', 'track'])

In [29]:
matrix_extended.head()

          user artist      track  ...     emb_x    emb_y     emb_z
0  user_000001   2562  Basin Dub  ...  5.311094  6.10387  3.313273
1  user_000451   2562  Basin Dub  ...  5.311094  6.10387  3.313273
2  user_000471   2562  Basin Dub  ...  5.311094  6.10387  3.313273
3  user_000508   2562  Basin Dub  ...  5.311094  6.10387  3.313273
4  user_000515   2562  Basin Dub  ...  5.311094  6.10387  3.313273

[5 rows x 23 columns]

### Sample Users

In [30]:
no_users = 200
users_list = matrix_extended.user.unique()
users_sampled = np.random.choice(users_list, replace=False, size=no_users)
matrix_sampled = matrix_extended.copy()
matrix_sampled = matrix_sampled.set_index('user')
matrix_sampled = matrix_sampled.loc[users_sampled]
matrix_sampled = matrix_sampled.reset_index()
matrix_sampled = matrix_sampled.sample(frac=1)

In [31]:
matrix_sampled.head()

               user       artist  ...     emb_y     emb_z
237902  user_000108  The Beatles  ...  7.565960  0.643410
696273  user_000125     Datarock  ...  7.510446  2.268296
42234   user_000205      Shakira  ...  6.972612  2.371714
134649  user_000799      Shakira  ...  6.972612  2.371714
104497  user_000675  Bob Sinclar  ...  5.949800  3.872264

[5 rows x 23 columns]

In [32]:
matrix_sampled['user_id'] = matrix_sampled['user'].astype('category').cat.codes
matrix_sampled['item_id'] = matrix_sampled['track'].astype('category').cat.codes

In [197]:
X = matrix_sampled[['user_id', 
              'item_id',
              'danceability',
              'energy',
              'speechiness', 
              'acousticness', 
              'instrumentalness', 
              'liveness',
              'valence', 
              'tempo', 
              'popularity', 
              'emb_x', 
              'emb_y',
              'emb_z']]
y = matrix_sampled['rating']
groups = matrix_sampled['user_id']

In [198]:
# Change splitting to be by index using https://stackoverflow.com/questions/53490497/getting-validation-set-from-train-set-by-using-percentage-from-groupby-in-pand
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, stratify=groups)

In [199]:
no_users, no_items, no_factors = matrix_sampled['user_id'].nunique(), matrix_sampled['item_id'].nunique(), 20

### Models

In [200]:
def create_shallow_model(no_factors, no_users, no_items):
    # User branch
    user_id = tf.keras.layers.Input(shape=[1], name='user_id')
    user_matrix = tf.keras.layers.Embedding(no_users+1, no_factors, name='user_matrix')(user_id)
    user_vector = tf.keras.layers.Flatten(name='user_vector')(user_matrix)
    # Item branch
    item_id = tf.keras.layers.Input(shape=[1], name='item_id')
    item_matrix = tf.keras.layers.Embedding(no_items+1, no_factors, name='item_matrix')(item_id)
    item_vector = tf.keras.layers.Flatten(name='item_vector')(item_matrix)
    # Dot product 
    vectors_product = tf.keras.layers.dot([user_vector, item_vector], axes=1, normalize=False)
    # Model definition
    model = tf.keras.models.Model(inputs=[user_id, item_id], outputs=[vectors_product], name='shallow_model')
    return model

In [201]:
model = create_shallow_model(no_factors, no_users, no_items)

In [202]:
model.summary()

Model: "shallow_model"
__________________________________________________________________________________________________
Layer (type)                    Output Shape         Param #     Connected to
==================================================================================================
user_id (InputLayer)            [(None, 1)]          0
__________________________________________________________________________________________________
item_id (InputLayer)            [(None, 1)]          0
__________________________________________________________________________________________________
user_matrix (Embedding)         (None, 1, 20)        4020        user_id[0][0]
__________________________________________________________________________________________________
item_matrix (Embedding)         (None, 1, 20)        4877080     item_id[0][0]
__________________________________________________________________________________________________
user_vector (Flatten)           (None, 20)           0           user_matrix[0][0]
__________________________________________________________________________________________________
item_vector (Flatten)           (None, 20)           0           item_matrix[0][0]
__________________________________________________________________________________________________
dot_9 (Dot)                     (None, 1)            0           user_vector[0][0]
                                                                 item_vector[0][0]
==================================================================================================
Total params: 4,881,100
Trainable params: 4,881,100
Non-trainable params: 0
__________________________________________________________________________________________________

In [203]:
def create_deep_model(no_factors, no_users, no_items):
    # User branch
    user_id = tf.keras.layers.Input(shape=[1], name='user_id')
    user_matrix = tf.keras.layers.Embedding(no_users+1, no_factors, name='user_matrix')(user_id)
    user_vector = tf.keras.layers.Flatten(name='user_vector')(user_matrix)
    # Item branch
    item_id = tf.keras.layers.Input(shape=[1], name='item_id')
    item_matrix = tf.keras.layers.Embedding(no_items+1, no_factors, name='item_matrix')(item_id)
    item_vector = tf.keras.layers.Flatten(name='item_vector')(item_matrix)
    # Concantenation
    vectors_concat = tf.keras.layers.Concatenate()([user_vector, item_vector])
    vectors_concat_dropout = tf.keras.layers.Dropout(0.2)(vectors_concat)
    # Backbone 
    dense_1 = tf.keras.layers.Dense(16,name='fc3')(vectors_concat_dropout)
    dropout_1 = tf.keras.layers.Dropout(0.2,name='d3')(dense_1)
    dense_2 = tf.keras.layers.Dense(8,name='fc4', activation='relu')(dropout_1)
    dense_2_output = tf.keras.layers.Dense(1, activation='relu', name='activation')(dense_2)
    # Model definition
    model = tf.keras.models.Model(inputs=[user_id, item_id], outputs=[dense_2_output], name='deep_model')
    return model

In [204]:
model = create_deep_model(no_factors, no_users, no_items)

### Model training

In [205]:
y_train.head()

288204    1.102564
383279    1.131148
315291    2.400000
359867    1.000000
610089    1.000000
Name: rating, dtype: float64

In [206]:
# Input-output data definition
X_train_arr = [X_train.user_id, X_train.item_id]

# Model creation
model = create_deep_model(no_factors, no_users, no_items)

# Model compiling 
model.compile(loss=tf.keras.losses.MeanSquaredError())

# Model training
model.fit(X_train_arr, y_train, epochs=10, batch_size=2048, shuffle=True)

Epoch 1/10
310/310 [==============================] - 9s 25ms/step - loss: 0.1840
Epoch 2/10
310/310 [==============================] - 8s 25ms/step - loss: 0.1086
Epoch 3/10
310/310 [==============================] - 8s 25ms/step - loss: 0.1045
Epoch 4/10
310/310 [==============================] - 8s 25ms/step - loss: 0.1002
Epoch 5/10
310/310 [==============================] - 8s 25ms/step - loss: 0.0960
Epoch 6/10
310/310 [==============================] - 8s 25ms/step - loss: 0.0928
Epoch 7/10
310/310 [==============================] - 8s 25ms/step - loss: 0.0900
Epoch 8/10
310/310 [==============================] - 8s 25ms/step - loss: 0.0877
Epoch 9/10
310/310 [==============================] - 8s 25ms/step - loss: 0.0858
Epoch 10/10
310/310 [==============================] - 8s 25ms/step - loss: 0.0841

### Prediction

In [207]:
# Predictions in the training set
# X_train = [X_train.user_id, X_train.item_id]
y_train_pred = model.predict(X_train_arr, batch_size=2048)

In [208]:
X_test.head()

        user_id  item_id  danceability  ...     emb_x     emb_y     emb_z
99280       150   143236         0.602  ...  6.103456  5.685407  3.022125
103073      150   223570         0.431  ...  5.595990  8.315579  1.584192
679335      177   213186         0.127  ...  4.635859  8.002898  0.684818
605104       85   143700         0.472  ...  5.289314  6.018984  2.850651
12616         7   126006         0.195  ...  7.460937  4.877966  0.994511

[5 rows x 14 columns]

In [209]:
# Predictions in the test set
X_test_arr = [X_test.user_id, X_test.item_id]
y_test_pred = model.predict(X_test_arr, batch_size=2048)

### Evaluation

In [210]:
from sklearn.metrics import mean_squared_error
print('Train RMSE:', mean_squared_error(y_train.values, y_train_pred, squared=False))
print('Test RMSE:', mean_squared_error(y_test.values, y_test_pred, squared=False))

Train RMSE: 0.2794109985714386
Test RMSE: 0.3367240328038402

In [211]:
def predict_from_latent(model, uid, pids, train_ratings=None):
    user_vector = model.get_layer('user_matrix').get_weights()[0][uid]
    item_vectors = model.get_layer('item_matrix').get_weights()[0][pids]
    scores = (np.dot(user_vector, item_vectors.T))
    return scores

In [212]:
def precision_at_k(model, pred_func, train_ratings, test_ratings, no_users, no_items, k=5):
    pid_array = np.arange(no_items, dtype=np.int32)
    precisions = []
    # For each user
    for user_id, user_test_rating in tqdm(test_ratings.groupby('user_id')):
        # Retrieve already-seen items
        train_pids = train_ratings[train_ratings['user_id'] == user_id]['item_id'].values
        # Retrieve the unseen items
        test_pids = set(user_test_rating['item_id'].values)
        test_set = pd.DataFrame({'user_id': user_id, 'item_id': pid_array})
        test_set = [test_set.user_id, test_set.item_id]
        # Make rating predictions for all items for that user
        predictions = model.predict(test_set, batch_size=2048)
        # predictions = pred_func(model, user_id, pid_array, train_ratings)
        predictions = predictions.reshape(-1)
        # Force a low rating to already-seen items
        predictions[train_pids] = - math.inf
        # Sort the items and het the top k
        top_k = set(np.argsort(-predictions)[:k])
        # Compute precision as per definition
        precisions.append(len(top_k & test_pids) / float(k))
    return precisions

In [213]:
X_train_arr = np.array(X_train_arr)
X_test_arr = np.array(X_test_arr)

In [215]:
train_ratings = pd.DataFrame({'user_id': X_train_arr[0, :], 'item_id':X_train_arr[1, :], 'rating': y_train})
test_ratings = pd.DataFrame({'user_id': X_test_arr[0, :], 'item_id':X_test_arr[1, :], 'rating': y_test})

ValueError: ignored

In [216]:
precisions = precision_at_k(model, predict_from_latent, train_ratings, test_ratings, no_users, no_items, k=10)

100%|██████████| 200/200 [01:08<00:00,  2.91it/s]

In [217]:
np.mean(precisions), np.std(precisions)

(0.0005, 0.007053367989832943)

In [218]:
### EXERCISE CELL ###
def recall_at_k(model, pred_func, train_ratings, test_ratings, no_users, no_items, k=10):
    pid_array = np.arange(no_items, dtype=np.int32)
    recalls = []
    for user_id, user_test_rating in tqdm(test_ratings.groupby('user_id')):
        train_pids = train_ratings[train_ratings['user_id'] == user_id]['item_id'].values
        test_pids = set(user_test_rating['item_id'].values)
        test_set = pd.DataFrame({'user_id': user_id, 'item_id': pid_array})
        test_set = [test_set.user_id, test_set.item_id]
        # Make rating predictions for all items for that user
        predictions = model.predict(test_set, batch_size=2048)
        predictions = predictions.reshape(-1)
        predictions[train_pids] = - math.inf
        top_k = set(np.argsort(-predictions)[:k])
        recalls.append(len(top_k & test_pids) / len(test_pids))
    return recalls

In [219]:
recalls = recall_at_k(model, predict_from_latent, train_ratings, test_ratings, no_users, no_items, k=10)

100%|██████████| 200/200 [01:07<00:00,  2.95it/s]

In [220]:
np.mean(recalls), np.std(recalls)

(4.340277777777778e-06, 6.122715268952207e-05)

In [221]:
### EXERCISE CELL ###
def map_at_k(model, pred_func, train_ratings, test_ratings, no_users, no_items, k=10):
    pid_array = np.arange(no_items, dtype=np.int32)
    maps = []
    for user_id, user_test_rating in tqdm(test_ratings.groupby('user_id')):
        train_pids = train_ratings[train_ratings['user_id'] == user_id]['item_id'].values
        test_pids = set(user_test_rating['item_id'].values)
        test_set = pd.DataFrame({'user_id': user_id, 'item_id': pid_array})
        test_set = [test_set.user_id, test_set.item_id]
        # Make rating predictions for all items for that user
        predictions = model.predict(test_set, batch_size=2048)
        predictions = predictions.reshape(-1)
        predictions[train_pids] = - math.inf
        partial_maps = []
        top_k = list(np.argsort(-predictions)[:k])
        for rank, item_id in enumerate(top_k):
            if item_id in test_pids:
                partial_maps.append(len(set(top_k[:rank+1]) & test_pids) / float(rank+1))
        maps.append(.0 if len(partial_maps) == 0 else np.sum(partial_maps) / float(k))
    return maps

In [222]:
maps = map_at_k(model, predict_from_latent, train_ratings, test_ratings, no_users, no_items, k=10)

100%|██████████| 200/200 [01:07<00:00,  2.96it/s]

In [223]:
np.mean(maps), np.std(maps)

(8.333333333333333e-05, 0.0011755613316388237)